<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Stylist | Men</title>
    <link rel="stylesheet" href="/assets2/style.css" />
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendor/slick/slick.css" />
    <link rel="stylesheet" href="/vendor/slick/slick-theme.css" />
    <link rel="stylesheet" href="/vendor/remi/fonts/remixicon.css" />
    <link rel="stylesheet" href="/vendor/animate_it/animate.css" />
  </head>
  <body>
    <!-- start header -->
    <header class="container-fluid site-nav wow animate__slideInDown">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid">
                <a class="navbar-brand fw-bolder h1" href="/">
                  <img src="/images/ys.png" class="site-logo" alt="" />Your
                  Stylist</a
                >
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <i class="ri-menu-3-line menu-icon"></i>
                </button>
                <div
                  class="collapse navbar-collapse justify-content-end"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link text-uppercase" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-uppercase"
                        aria-current="page"
                        href="/men"
                        >Men</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-uppercase" href="/women">Women</a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link text-uppercase current-section"
                        aria-current="page"
                        href="/kids"
                        >Kids</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-uppercase" href="/collections"
                        >Collections</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-uppercase" href="/shops">Shops</a>
                    </li>
                    <% if(locals.user){%>
                    <li class="nav-item">
                      <a class="nav-link text-uppercase" href="/myprofile"
                        >My Profile</a
                      >
                    </li>
                    <%}else{%>
                    <li class="nav-item ms-5">
                      <a
                        class="nav-link btn btn-primary bg-white text-dark border-0 shadow-lg"
                        href="/login"
                        >Login</a
                      >
                    </li>
                    <%}%>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->
    <!-- start content -->
    <section id="" class="container-fluid home part-home">
      <div class="row min-vh-100">
        <div class="col-12">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active d-none"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                class="d-none"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                class="d-none"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner align-self-center">
              <div class="carousel-item active">
                <div
                  class="row min-vh-100 align-items-center justify-content-center flex-column-reverse flex-md-row"
                >
                  <div class="col-12 col-md-7 d-flex justify-content-center">
                    <div class="left mt-5 pt-5 mt-md-0 pt-md-0">
                      <div class="text-capitalize">
                        <h3 class="title">
                          Winter <br />
                          Collections
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-5">
                    <div class="right">
                      <img src="/assets2/img/winter-for-kid.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div
                  class="row min-vh-100 align-items-center justify-content-center flex-column-reverse flex-md-row"
                >
                  <div class="col-12 col-md-7 d-flex justify-content-center">
                    <div class="left mt-5 pt-5 mt-md-0 pt-md-0">
                      <div class="text-capitalize">
                        <h3 class="title">
                          Summer<br />
                          Collections
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-5">
                    <div class="right">
                      <img src="/assets2/img/summer-for-kid.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div
                  class="row min-vh-100 align-items-center justify-content-center flex-column-reverse flex-md-row"
                >
                  <div class="col-12 col-md-7 d-flex justify-content-center">
                    <div class="left mt-5 pt-5 mt-md-0 pt-md-0">
                      <div class="text-capitalize">
                        <h3 class="title">
                          Rainy <br />
                          Collections
                        </h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-5">
                    <div class="right">
                      <img src="/assets2/img/rainy-for-kid.jpg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden"></span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden"></span>
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="container-fluid">
      <div class="container">
        <div class="row to-detail">
          <% for(var i = 0; i < blogs.length; i++){%>
          <div class="col-md-4 col-lg-3 col-12">
            <div class="card shadow-lg border-0 rounded-3 m-3 m-md-2">
              <div class="card-body border-0 coll-img">
                <img src="<%= blogs[i].mainImg %>" alt="" />
              </div>
              <div class="card-footer border-0 pointer">
                <div class="">
                  <p><%= blogs[i].title %></p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="">
                    <span class="fw-bolder"><%= blogs[i].estPrice %></span> MMK
                  </div>
                  <div
                    class="d-flex justify-content-center align-items-center detail-icon"
                  >
                    <div class="">
                      <a href="/blogdetail/<%= blogs[i]._id %>" class="anone"
                        >Details</a
                      >
                    </div>
                    <i class="ri-arrow-right-line"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </section>
    <!-- end content -->
    <!-- start footer -->
    <footer class="container-fluid footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 m-auto">
            <ul class="d-flex justify-content-around text-white">
              <li class="text-uppercase">men</li>
              <li class="text-uppercase">women</li>
              <li class="text-uppercase">kids</li>
              <li class="text-uppercase">collection</li>
              <li class="text-uppercase">Shop</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="text-center fs-6 fw-bolder">
              &copy;Fashion. All Right Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <a href="#" class="scroll-up anone" id="scroll-up">
      <i class="ri-arrow-up-line scroll-icon"></i>
    </a>
    <!-- end footer -->
  </body>
  <script src="/vendor/jQuery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/slick/slick.min.js"></script>
  <script src="/vendor/wow/wow.js"></script>
  <script src="/assets2/app.js"></script>
</html>
